<!DOCTYPE html>
<html>
<head>
    <title>Adoptions</title>
</head>
<body>
    <h1>Pet Adoptions</h1>
    <p>You ordered
    <%= details.quantity %>
    <%= details.color %>
    <% if (details.quantity == 1) { %>
        <%= details.type %>
    <% } else { %>
        <%= details.type %>s
    <% } %>
    </p>
</body>
</html>
