<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption</title>
    <link rel="stylesheet" href="styles\style.css">
    <script src="script.js" defer></script>
</head>
<body>
    <main>
        <h1>Adopt a Pet Here</h1>
        <form action="/submit" method="POST">
            <label>What type of pet would you like to adopt?
                <input type="text" id="petType" name="type">
            </label>

            <label>Quantity:
                <input type="number" id="numberOfPets" name="quantity">
            </label>

            <label>Color:
                <input type="text" id="color" name="color">
            </label>

            <button id="submit">Submit</button>
            <p id="confirm"></p>
        </form>
    </main>
</body>
</html>